/* Fullscreen layout */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    overflow: hidden;
    position: relative;
}

/* Enter Button */
#enterButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px 40px;
    font-size: 24px;
    color: rgb(56, 245, 255);
    background-color: rgba(0,0,0,0.7);
    border: 2px solid rgb(56, 245, 255);
    cursor: pointer;
    z-index: 10;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(243, 53, 53, 0.6),
                -5px -5px 15px rgba(159, 244, 55, 0.6);
    opacity: 0;
    transition: opacity 1s ease, transform 0.25s ease;
}

/* Fade in button */
#enterButton.show {
    opacity: 1;
}

/* Button hover */
#enterButton:hover {
    color: brown;
    background-color: aliceblue;
     transform: translate(-50%, -50%) scale(1.08);
}

/* Fullscreen video background */
#videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
